<DOCTYPE html>
    <html>
    <head>
        <title>Home Page</title>
        <link href="~/StyleSheet.css" rel="stylesheet" />
    </head>
    <body>


        <h1>People of the Year </h1>
        <h3> 1927 - 2016 </h3>
        <form method="post">
            <label name="startYear">Start Year</label>
            <input min="1927" max="2016" name="startYear" type="number" />

            <label name="endYear">End Year</label>
            <input min="1927" max="2016" name="endYear" type="number" />

            <button type="submit">Submit</button>
        </form>
        

    </body>
</html>
